---
import PageSection from "../components/PageSection.astro";
import HomeLayout from "../layouts/HomeLayout.astro";

import home1 from "../assets/home1.jpg";
---
<style>
  #home-section-title {
    position: absolute;
    top: 8%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    text-align: center;
    z-index: 3;
  }
</style>

<HomeLayout>
  <PageSection id="home" image={home1} imageAlt="fairground ride in sunset lighting">
    <div id="home-section-title">
      <h1>benr.dev</h1>
    </div>
  </PageSection>

  <PageSection id="projects">
    <h1>Projects</h1>
  </PageSection>

  <PageSection id="about">
    <h1>About</h1>
  </PageSection>

  <!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
</HomeLayout>
