---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageGallery from "../components/ImageGallery.astro";

const pageTitle = "Photos";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>WEB PHOTOS</h2>

  <ImageGallery />
</BaseLayout>
