---
/*
  This is the homepage nav, it isn't a bar at the top and it doesn't actually
  navigate away from the homepage.
*/
---
<style>
  /* TODO: mobile version of this */
  .nav-links-home {
    display: flex;
    position: fixed;
    justify-content: left;
    top: 16rem;
    left: 2rem;
    flex-direction: column;
    z-index: 3;
  }

  .nav-links-home a {
    color: white;
    background-color: black;
    padding: 0 20px;
    font-size: 2.5rem;
    text-decoration: none;
    margin-bottom: 1rem;
    width: fit-content;
    transition: transform 0.3s ease;
  }

  .nav-links-home a:hover {
    text-decoration: underline;
    color: rgb(126, 126, 126);
  }
</style>

<div class="nav-links-home">
  <a class="nav-link" href="/#home" tabindex="0">Home</a>
  <a class="nav-link" href="/#projects" tabindex="0">Projects</a>
  <a class="nav-link" href="/#about" tabindex="0">About</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const links = document.querySelectorAll('.nav-link');
    const tiltDegrees = 5;

    const rotateRnd = (link: HTMLElement) => {
      const randomAngle = Math.random() * 10 - tiltDegrees;
      link.style.transform = `rotate(${randomAngle}deg)`;
    };

    links.forEach(link => {
      // This sets the nav links at wonky angles
      // Random angle between -tiltDegrees and tiltDegrees degrees
      rotateRnd(link as HTMLElement);

      // This makes them tilt again on hover
      link.addEventListener('mouseover', () => {
        rotateRnd(link as HTMLElement);
      });
    });
  });
</script>
