---
/*
  This is the global nav, it won't be shown on homepage, but its used to get back and around
  from other pages.
*/
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/projects/">Projects</a>
  <a href="/photography/">Photography</a>
</div>
