---
import { Image } from "astro:assets";
const { id, image, imageAlt } = Astro.props;
---
<style>
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    width: 100%;
    overflow: hidden;
  }

  section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
</style>

<section id={id}>
  { image &&
      <Image
        src={image}
        alt={imageAlt}
        loading={"eager"}
        quality={100}
        height={1944}
        width={2574}
      />
  }
  <slot />
</section>